body{

    font-family: 'Inter';
    position: relative;
    background:#E5E5E5;
    width:1440px;
    height:1024px;
    
    
}

.encabezado h1{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 48px;
}


.input-texto{
    position: absolute;
    width: 680px;
    height: 667px;
    left: 240px;
    top: 168px;
    resize: none;
    border: none;
    background-color: #E5E5E5;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;
}



.submits{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}   

.encriptar{
    width: 328px;
    height: 67px;
    padding: 24px 24px;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color:white;
    background: #0A3871;
    border: none;
    border-radius: 24px;
    transition: 1s all;
    cursor:pointer;
}

.desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px 24px;

    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #D8DFE8;
    cursor:pointer;
    transition: 1s all;
}

.output-texto{

    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;
    resize: none;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    
    color: #495057;
    background: white;
    border:none;

}
.rectangulo{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: white;
    border-radius: 32px;
}

#mensajeencontrado{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;

}
#mensajeencontrado h4{
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    color: #343A40;

}

#mensajeencontrado h5{
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;


    text-align: center;



    color: #495057;
}




#muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}



.copiar{
    
    
    padding: 24px;
    gap: 8px;
    
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    opacity: 0;
    cursor:pointer;

}


.footer{
    position:absolute;
    text-align: center;
    bottom:0px;
    right:638px;
    
    
}